<!-- Footer -->
  <footer id="footer">

    <div class="container">
      <div class="row contact">

        <div class="col-lg align-center">
          <h1><span class="fa fa-phone-square"></span></h1>
          <h2>{{ correo }}</h2>
          <h6>{{ direccion }}</h6>
          <h6>(2){{ telefono }}</h6>
        </div>
      </div>

      <div class="row contact">
        <div class="col-lg align-center">
          &copy; MDA {{ anio }}. Todos los derechos reservados.
        </div>
      </div>

    </div>

  </footer>
