<!-- Footer -->
  <footer id="footer">
    <div class="container">
      <ul class="icons">
        <!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li> -->
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg contact">
          <h5>Datos de contacto</h5>
          <h6>Direccion</h6>
          <h6>Telefono</h6>
          <h6>Correo</h6>
        </div>
        <div class="col-md">

        </div>
        <div class="col-sm">
          <img src="assets/images/oficina01.jpg" class="img-fluid img-thumbnail" alt="" style="margin-bottom: 10%;">
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 copyright">
          &copy; MDA {{ anio }}. Todos los derechos reservados.
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <img src="assets/images/oficina.jpg" alt="">
      </div>
      <div class="row">
        <div class="col copyright">
          &copy; MDA {{ anio }}. Todos los derechos reservados.
        </div>
      </div>
    </div> -->

  </footer>
