<!-- Footer -->
  <footer id="footer">

    <div class="container">
      <div class="row">

        <div class="col-sm-3">
          <h5>Datos de contacto</h5>
          <h6>Direccion</h6>
          <h6>Telefono</h6>
          <h6>Correo</h6>
        </div>

        <div class="col-md-6 contact">
          <div class="col-md" style="text-align:center;">
            <h1><span class="fa fa-phone-square"></span></h1>
            <h1>{{ correo }}</h1>
            <h6>{{ direccion }}</h6>
            <h6>(2){{ telefono }}</h6>
          </div>
        </div>

        <div class="col-sm-3">
          <img src="assets/images/oficina01.jpg" class="img-fluid" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">

        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 copyright">
          &copy; MDA {{ anio }}. Todos los derechos reservados.
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <img src="assets/images/oficina.jpg" alt="">
      </div>
      <div class="row">
        <div class="col copyright">
          &copy; MDA {{ anio }}. Todos los derechos reservados.
        </div>
      </div>
    </div> -->

  </footer>
