<!-- One -->
  <section id="one" class="wrapper style2">



    <div class="container">

      <div class="inner">
        <header class="align-center">
          <p class="special">Nuestros servicios</p>
          <h1>Proyectos</h1>
        </header>
      </div>

      <div class="row">
        <!-- Columna 1 -->
        <div class="col-sm">
          <div class="box shadow">
            <div class="image fit">
              <!-- Insertar imagen -->
            </div>
            <div class="content">
              <header class="align-center">
                <p>Compromiso con el cliente</p>
                <h2><img src="assets/icons/hard-hat01.png" class="img-fluid" alt=""></h2>
                <h2>RESPONSABILIDAD</h2>
              </header>
            </div>
          </div>
        </div>

        <!-- Columna 2 -->
        <div class="col-sm">
          <div class="box shadow">
            <div class="image fit">
              <!-- Insertar imagen -->
            </div>
            <div class="content">
              <header class="align-center">
                <p>Contamos con el apoyo de</p>
                <h2><img src="assets/icons/hard-hat01.png" class="img-fluid" alt=""></h2>
                <h2>RESPALDO</h2>
              </header>
            </div>
          </div>
        </div>

        <!-- Columna 3 -->
        <div class="col-sm">
          <div class="box shadow">
            <div class="image fit">
              <!-- Insertar imagen -->
            </div>
            <div class="content">
              <header class="align-center">
                <p>maecenas sapien</p>
                <h2><img src="assets/icons/hard-hat01.png" class="img-fluid" alt=""></h2>
                <h2>CONFIANZA</h2>
              </header>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
