

    <app-header [showMenu]=false></app-header>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Adicionales</p>
						<h2>Articulos técnicos</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<p style='font-size: 1.5em'>Por Nelson Berrios</p>
								<br>
								<h6>Mas articulos en:</h6>
								<div style="margin-top: 1em"> <a href='https://portal.ondac.com/601/w3-propertyvalue-105446.html'><img src="../../../assets/images/ondac.jpg" alt="ondac"></a> </div>

							</header>
						
							<div class="container">

								<!-- Primera row -->
								<br><br>
								<div class="row">

									<div class="col-md-6">
										<div class="card">
											<div class="card-body">
												<!-- <h5 class="card-title text-center">Plan de Calidad en la Construcción: ¿Qué Elementos básicos contiene?</h5>
												<p class="card-text">Descripcion</p> -->
			
												<iframe src="//www.slideshare.net/slideshow/embed_code/key/KCCyjoyKgB58oa" width="572" height="612" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="card">
											<div class="card-body">
												<!-- <h5 class="card-title text-center">Encargado de Calidad en una Obra: Una especialidad incipiente y necesaria en los Proyectos de Construcción</h5>
												<p class="card-text">Descripcion</p> -->
			
												<iframe src="//www.slideshare.net/slideshow/embed_code/key/eOxpRigqfUYJ69" width="572" height="612" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
											</div>
										</div>
									</div>

								</div>
								

								<!-- Segunda row -->
								<br>
								<div class="row">

									<div class="col-md-6">
										<div class="card">
											<div class="card-body">

												<iframe src="//www.slideshare.net/slideshow/embed_code/key/E3cvwgRBBbKpnO" width="572" height="612" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>											
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="card">
											<div class="card-body">

												<iframe src="//www.slideshare.net/slideshow/embed_code/key/zkkTpOgegZ64sN" width="572" height="612" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
											</div>
										</div>
									</div>

								</div>

								<!-- Tercera row -->
								<br>
								<div class="row">

									<div class="col-md-6">
										<div class="card">
											<div class="card-body">
												<iframe src="//www.slideshare.net/slideshow/embed_code/key/2uTesV8r02rlXH" width="572" height="612" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="card">
											<div class="card-body">
													<iframe src="//www.slideshare.net/slideshow/embed_code/key/2mPAbCWWrJXxr" width="572" height="612" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> 
											</div>
										</div>
									</div>

								</div>

								<!-- Cuarta row -->
								<br>
								<div class="row">

									<div class="col-md-6">
										<div class="card">
											<div class="card-body">
													<iframe src="//www.slideshare.net/slideshow/embed_code/key/5Gk3MFqzJRMpXV" width="572" height="612" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="card">
											<div class="card-body">
													<iframe src="//www.slideshare.net/slideshow/embed_code/key/b0cLxv4mmDQ6wE" width="572" height="612" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
											</div>
										</div>
									</div>

								</div>

								<!-- Quinta row -->
								<br>
								<div class="row">

									<div class="col-md-6">
										<div class="card">
											<div class="card-body">
													<iframe src="//www.slideshare.net/slideshow/embed_code/key/fdeXl0Jf4oxasZ" width="572" height="612" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<div class="card">
											<div class="card-body">
													<iframe src="//www.slideshare.net/slideshow/embed_code/key/cLBSAD6D3E4ubA" width="572" height="612" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
											</div>
										</div>
									</div>

								</div>

							</div>

							<br>

							<!-- <div class="row">
								<div class="col-md-12 text-center">
									<p></p>
									<a href='https://portal.ondac.com/601/w3-propertyvalue-105446.html'><img src="../../../assets/images/ondac.jpg" alt="ondac"></a>		
								</div>
							</div> -->

						</div>
					</div>

				</div>


			</section>

      <app-footer></app-footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
