<footer id="footer" class="wrapper style3 bg">
  <div class="inner">
      <div class="container">
        <div class="row contact">
          <div class="col-lg align-center">
            <header class="align-center">
              <h5><span class="fa fa-envelope-o"></span></h5>
              <!-- <p style="margin-bottom: 5%;"></p> -->
              <h6>Fono: (2){{ telefono }}</h6>
              <h4>{{ correo }}</h4>
              <h6>{{ direccion }}</h6>
            </header>


            <div class="creditos">&copy; MDA {{ anio }}. Todos los derechos reservados.</div>

          </div>
        </div>
      </div>
  </div>
</footer>
