<!-- Three -->
  <section id="three" class="wrapper style2">
    <div class="inner">
      <header class="align-center">
        <p class="special">Nuestros proyectos</p>
        <h2>Proyectos</h2>
      </header>
      <div class="gallery">
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/cite010.jpg" alt="" /></a>
          </div>
        </div>
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/condominio01.jpg" alt="" /></a>
          </div>
        </div>
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/barrio01.jpg" alt="" /></a>
          </div>
        </div>
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/edificio02.jpg" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
