@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

/*
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Reset */

#footer .contact {
  color: #bbb;
}

#footer.wrapper.style3.bg{
    background-color: #000;
    color: #bfbfbf;
    background-image: url(../../assets/images/oficina01.jpg); /* FONDO */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    padding: 2rem 2rem;
}

@media screen and (max-width: 360px) {

}

.contact h5{ /*FONTAWESOME*/
  padding-top: 0.4em;
  font-size: 2.2rem;
}

.contact h2{ /* CORREO */
  font-size: 1.5rem;
  letter-spacing: 0.0625em;
  word-spacing: -0.3em;
  font-weight: 800;
}

.contact h6{ /* DIRECCION */
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  font-size: 1.1rem;
}

.creditos{
  padding-top: 2em;
}

/* .contact h5{
  font-size: 1.1rem;
} */

/* ONE Sombra tipo card css */
box .shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.inner h1{
  font-size: 2.1rem;
  font-weight: 400 !important;
  padding-bottom: 1.5em;
}


/*
  En caso de usar row en vez de inner
  .row h1{
  font-weight: 100 !important;
  padding-bottom: 1.5em;
} */

h2, h3{
  font-weight: 100 !important;
}
/* BANNER */

.subtitulo p{
  font-size: 1rem !important;
}

.titulo h2{
  font-size: 8vw !important;
}
/* FIN BANNER */

.box h3{
  font-size: 1.5rem !important;
}

h2 img{
  height: 30%; width: 30%; padding-top: 10%;
}

img.resize {
  height: auto;
}
