<!-- Banner -->
  <section class="banner full">
    <article>
      <img src="assets/images/cite00x.jpg" alt="" />
      <div class="inner">
        <header>
          <div class="subtitulo"><p>OBRAS</p></div>
          <div class="titulo"><h2>Cité</h2></div>
        </header>
      </div>
    </article>
    <article>
      <img src="assets/images/condominio00.jpg" alt="" />
      <div class="inner">
        <header>
          <div class="subtitulo"><p><a href="http://www.google.com">OBRAS</a></p></div>
          <div class="titulo"><h2>Condominios</h2></div>
        </header>
      </div>
    </article>
    <article>
      <img src="assets/images/slide03.jpg"  alt="" />
      <div class="inner">
        <header>
          <p>Sed cursus aliuam veroeros lorem ipsum nullam</p>
          <div class="titulo"><h2>Tempus dolor</h2></div>
        </header>
      </div>
    </article>
    <article>
      <img src="assets/images/slide04.jpg"  alt="" />
      <div class="inner">
        <header>
          <p>Adipiscing lorem ipsum feugiat sed phasellus consequat</p>
          <div class="titulo"><h2>Etiam feugiat</h2></div>
        </header>
      </div>
    </article>
    <article>
      <img src="assets/images/slide05.jpg"  alt="" />
      <div class="inner">
        <header>
          <p>Ipsum dolor sed magna veroeros lorem ipsum</p>
          <div class="titulo"><h2>Lorem adipiscing</h2></div>
        </header>
      </div>
    </article>
  </section>
